<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-codecase</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>028432FF-52FD-4B58-9FDE-2A3DA2868695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49C9740F-EB32-4A47-8150-0EC799ECCE40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>040F40A3-46BB-451B-AB19-8781D1DEE134</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FCBEDE1-F8EB-4AB6-BC6E-65746A7DE4C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14EAE525-7D89-449C-9865-ADECFE73F481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1088321-BD31-461E-B687-3CD4F8349A22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20574EE0-1B02-4AC4-81C4-36C487301C97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A709BF43-8A57-40F1-82BF-890822040F48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2388247F-515E-422E-A3BF-2D275A21F29C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EFDA1F0-429D-40DC-BE43-569DEEA9FF46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FCBEDE1-F8EB-4AB6-BC6E-65746A7DE4C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B0B45B2-DC3C-4435-A272-9D2EA17A14F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1088321-BD31-461E-B687-3CD4F8349A22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BF7A455-EAED-4A08-80D1-CCB7CE841B5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0D9EC39-CDDB-4192-9612-77C80DA79538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4254C6C9-493C-4555-91EF-3CE608C07F3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4540160F-D10F-4C57-A683-46C199623324</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>493F79CA-1EDD-481D-AEB9-133FCF10586A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49C9740F-EB32-4A47-8150-0EC799ECCE40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>402E7CC1-455A-4FBA-875D-42EF51AF8EC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>544395D9-35AD-48F6-B24B-023C27C8F868</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4254C6C9-493C-4555-91EF-3CE608C07F3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54C8BF3F-1486-4393-800E-2FE8223F54BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A0964D4-CEB2-4364-A026-8471710BECFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>608EB4D1-89A8-439F-89B7-FD4B212E18B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4254C6C9-493C-4555-91EF-3CE608C07F3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C82B78E-08CA-4D13-914A-24E60E8429D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>720A45DD-49ED-4FE3-B0AB-EBC988C99D70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2388247F-515E-422E-A3BF-2D275A21F29C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A7CB7A7-5012-40EC-82ED-425F88F4ED81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>493F79CA-1EDD-481D-AEB9-133FCF10586A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A0964D4-CEB2-4364-A026-8471710BECFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CF0BC8D-8324-4C98-AA2E-1E850366E5AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2388247F-515E-422E-A3BF-2D275A21F29C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A144F285-7A74-4B45-9332-7B411B31838D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C82B78E-08CA-4D13-914A-24E60E8429D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A709BF43-8A57-40F1-82BF-890822040F48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8EAA12B-3479-4B68-B4EE-D39D4BA93FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>493F79CA-1EDD-481D-AEB9-133FCF10586A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7D513F0-F266-4DEE-A773-6E5CF54DD395</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0D9EC39-CDDB-4192-9612-77C80DA79538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1EE98A1-F21B-491A-AE6D-C49CE52E748E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A709BF43-8A57-40F1-82BF-890822040F48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCDD2B77-0579-4D3C-AD1F-A0DE6B3A0392</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4540160F-D10F-4C57-A683-46C199623324</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D03EBB9A-0517-4F66-B733-36F7551B7390</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FCBEDE1-F8EB-4AB6-BC6E-65746A7DE4C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0D9EC39-CDDB-4192-9612-77C80DA79538</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6714DB3-DF3A-4B31-B6A9-F89B957082C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A0964D4-CEB2-4364-A026-8471710BECFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1088321-BD31-461E-B687-3CD4F8349A22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7446760-42FC-43D0-A5F7-14DE17AE94EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C82B78E-08CA-4D13-914A-24E60E8429D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4584325-6CBF-45FD-AEBF-07A9986899E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4540160F-D10F-4C57-A683-46C199623324</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni from Derick Fay</string>
	<key>description</key>
	<string>case converter for code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Code Case</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>544395D9-35AD-48F6-B24B-023C27C8F868</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3BF7A455-EAED-4A08-80D1-CCB7CE841B5F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Snake Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>608EB4D1-89A8-439F-89B7-FD4B212E18B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Kebab Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>B7D513F0-F266-4DEE-A773-6E5CF54DD395</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_dash_case</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D0D9EC39-CDDB-4192-9612-77C80DA79538</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D6714DB3-DF3A-4B31-B6A9-F89B957082C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D03EBB9A-0517-4F66-B733-36F7551B7390</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>allcaps</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2FCBEDE1-F8EB-4AB6-BC6E-65746A7DE4C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_snake_case</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4254C6C9-493C-4555-91EF-3CE608C07F3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Pascal Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>54C8BF3F-1486-4393-800E-2FE8223F54BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>ALL CAPS</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>040F40A3-46BB-451B-AB19-8781D1DEE134</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_pascal_case</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A0964D4-CEB2-4364-A026-8471710BECFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C1EE98A1-F21B-491A-AE6D-C49CE52E748E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9CF0BC8D-8324-4C98-AA2E-1E850366E5AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_cap_snake_case</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A709BF43-8A57-40F1-82BF-890822040F48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>alllower</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2388247F-515E-422E-A3BF-2D275A21F29C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 codercase.py "$1" $myFunction</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2EFDA1F0-429D-40DC-BE43-569DEEA9FF46</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>all lowercase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>720A45DD-49ED-4FE3-B0AB-EBC988C99D70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Cobra Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>20574EE0-1B02-4AC4-81C4-36C487301C97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_camel_case</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E1088321-BD31-461E-B687-3CD4F8349A22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_dot_case</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6C82B78E-08CA-4D13-914A-24E60E8429D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>14EAE525-7D89-449C-9865-ADECFE73F481</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A144F285-7A74-4B45-9332-7B411B31838D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_slash</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>493F79CA-1EDD-481D-AEB9-133FCF10586A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Camel Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3B0B45B2-DC3C-4435-A272-9D2EA17A14F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Dot Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E7446760-42FC-43D0-A5F7-14DE17AE94EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>402E7CC1-455A-4FBA-875D-42EF51AF8EC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Code Case...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>028432FF-52FD-4B58-9FDE-2A3DA2868695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>codecase</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 codercase.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Code Case Conversions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49C9740F-EB32-4A47-8150-0EC799ECCE40</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_slash</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9B09AF3F-E176-44E7-96D7-29CBD2227CC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CCDD2B77-0579-4D3C-AD1F-A0DE6B3A0392</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A8EAA12B-3479-4B68-B4EE-D39D4BA93FEA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>myFunction</key>
					<string>to_separate_words</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4540160F-D10F-4C57-A683-46C199623324</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Space Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>F4584325-6CBF-45FD-AEBF-07A9986899E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Slash Case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>7A7CB7A7-5012-40EC-82ED-425F88F4ED81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Code Case converter

Original here:
https://www.packal.org/workflow/code-case


- updated 2022-03-24 to v 2.0 migrate to Python 3

- updated 2021-08-04 to v 1.4 to support Universal Actions - requires Alfred 4.5 or higher.</string>
	<key>uidata</key>
	<dict>
		<key>028432FF-52FD-4B58-9FDE-2A3DA2868695</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>040F40A3-46BB-451B-AB19-8781D1DEE134</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>14EAE525-7D89-449C-9865-ADECFE73F481</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>795</integer>
		</dict>
		<key>20574EE0-1B02-4AC4-81C4-36C487301C97</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>2388247F-515E-422E-A3BF-2D275A21F29C</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>2B51620C-22AE-4879-B2A8-8F0D8729F9DE</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>2EFDA1F0-429D-40DC-BE43-569DEEA9FF46</key>
		<dict>
			<key>xpos</key>
			<integer>1180</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>2FCBEDE1-F8EB-4AB6-BC6E-65746A7DE4C2</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>3B0B45B2-DC3C-4435-A272-9D2EA17A14F6</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>915</integer>
		</dict>
		<key>3BF7A455-EAED-4A08-80D1-CCB7CE841B5F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>402E7CC1-455A-4FBA-875D-42EF51AF8EC5</key>
		<dict>
			<key>xpos</key>
			<integer>1300</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>4254C6C9-493C-4555-91EF-3CE608C07F3B</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>4540160F-D10F-4C57-A683-46C199623324</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>493F79CA-1EDD-481D-AEB9-133FCF10586A</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>49C9740F-EB32-4A47-8150-0EC799ECCE40</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>1065</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>544395D9-35AD-48F6-B24B-023C27C8F868</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>54C8BF3F-1486-4393-800E-2FE8223F54BA</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>608EB4D1-89A8-439F-89B7-FD4B212E18B3</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>6C82B78E-08CA-4D13-914A-24E60E8429D5</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>795</integer>
		</dict>
		<key>720A45DD-49ED-4FE3-B0AB-EBC988C99D70</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>7A7CB7A7-5012-40EC-82ED-425F88F4ED81</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>9A0964D4-CEB2-4364-A026-8471710BECFD</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>9B09AF3F-E176-44E7-96D7-29CBD2227CC1</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>1035</integer>
		</dict>
		<key>9CF0BC8D-8324-4C98-AA2E-1E850366E5AB</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>A144F285-7A74-4B45-9332-7B411B31838D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>A709BF43-8A57-40F1-82BF-890822040F48</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>A8EAA12B-3479-4B68-B4EE-D39D4BA93FEA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>B7D513F0-F266-4DEE-A773-6E5CF54DD395</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>C1EE98A1-F21B-491A-AE6D-C49CE52E748E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>CCDD2B77-0579-4D3C-AD1F-A0DE6B3A0392</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>D03EBB9A-0517-4F66-B733-36F7551B7390</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>D0D9EC39-CDDB-4192-9612-77C80DA79538</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>D6714DB3-DF3A-4B31-B6A9-F89B957082C1</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E1088321-BD31-461E-B687-3CD4F8349A22</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>E7446760-42FC-43D0-A5F7-14DE17AE94EE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>935</integer>
		</dict>
		<key>F4584325-6CBF-45FD-AEBF-07A9986899E1</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1185</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-codecase</string>
</dict>
</plist>
